.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 20px;
}

.logo-container {
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.nav-link {
  padding: 10px 15px;
  cursor: pointer;
}

.current-user-email {
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}

.nav-links-container .cart-icon {
  display: block;
}

.nav-right-container .cart-icon {
  display: none;
}

.nav-right-container {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

@media (max-width: 851px) {
  .nav-links-container {
    display: none;
  }

  .nav-right-container {
    display: flex;
  }

  .mobile-menu {
    display: block;
  }

  .nav-links-container .cart-icon {
    display: none;
  }

  .nav-right-container .cart-icon {
    display: block;
  }
}

@media (min-width: 850px) {
  .mobile-menu {
    display: none;
  }
}